.d3{
   z-index: 3;
   position:relative;
   width: 100%;
   height: 80vh;
}
.servicesbar{
   z-index: 3;
   position:relative;
   width: 100%;
   display: flex;
   background-color: aqua;
}
.item{
   z-index: 3;
   position:relative;
}
